.card_box {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  width: calc(100% / 4 - 15px);
  box-shadow: 0 0 15px silver;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.card_box figure {
  height: 250px;
}

.card_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_text {
  padding: 15px;
}

.btn_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_box button {
  border: none;
  outline: none;
  padding: 7px 10px;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
}

.btn_box button:hover {
  opacity: 0.7;
}

.btn_box button:active {
  transform: scale(0.95);
}

.plus {
  background-color: green;
}

.minus {
  background-color: red;
}

.like_box {
  position: absolute;
  top: 5px;
  left: 5px;
}

.like_box button {
  border: none;
  outline: none;
  cursor: pointer;
}

.like_btn {
  font-size: 35px;
}

.disCount {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: yellow;
  padding: 5px;
}

.likeModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.478);
  backdrop-filter: blur(10px);
  position: fixed;
  top: -100%;
  transition: 0.3s ease-in;
  left: 0;
  z-index: 100;
}
.modal_active {
  top: 0;
}

@media (max-width:1100px) {
  .flex_between {
    flex-direction: column;
  }
}

@media (max-width:950px) {
  .card {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width:850px) {
  .card_box {
    gap: 10px;
  }

  .card {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width:600px) {
  .card_box figure {
    height: 200px;
  }
}

@media (max-width:550px) {
  .card_box figure {
    width: 50%;
    height: 100%;
  }

  .card_text {
    width: 50%;
  }

  .card_box figure {
    height: 220px;
  }

  .flex_between {
    flex-direction: column;
  }

  .btn_box {
    justify-content: space-between;
  }

  .card {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media (max-width:420px) {
  .card {
    flex-direction: column;
  }

  .card_box figure {
    width: 100%;
  }

  .flex_between {
    flex-direction: row;
  }

  .card_text {
    width: 100%;
  }
}