* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 7px 10px;
  color: black;
  border-radius: 3px;
}
.app {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  align-items: center;
  box-shadow: 0 0 10px silver;
  background-color: white;
}

.navbar h1 {
  text-transform: capitalize;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

ul li {
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: red;
}

.active {
  background-color: red;
  color: white;
}

.not_found {
  width: 100%;
  height: 100%;
  background-color: silver;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 50px 0;
}

/* 
.navbar a {
  text-decoration: none;
  color: red;
} */

.slider_box{ 
  background-color: green;
  padding: 0 50px;
}

.form {
  margin: 20px auto;
  display: block;
  width: 30%;
  text-align: right;
}
input, button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px; 
  cursor: pointer;
}
.home {
  display: flex;
  align-items: center;
}
.homeSlider {
  /* overflow: hidden; */
  width: 80%;
  display: grid;
}
.homeSlider img {
  width: 100%;
  height: 100%;
}



.moreInfo table {
  border-collapse: collapse;
  margin: 20px auto;
}
.moreInfo td, .moreInfo th {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}





.homeSec1{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.tabs{
  display: flex;
  gap: 25px;
}
.infos{
  width: 100%;
  padding: 35px;
  border: 1px solid white;
  background-color: #ffffff33;
  backdrop-filter: blur(20px);
  font-family: 'Courier New', Courier, monospace;
}
.tabsInfo{
  transition: .3s ease;
  opacity: 0;
  display: none;
}
.tabsInfo.open{
  opacity: 1;
  display: block;
}
.shopping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}